apache-beam[gcp]
pandas
#pandas-gbq
functions-framework
google-cloud-functions
google-cloud-aiplatform
google-cloud-bigquery
google-cloud-storage
google-cloud-texttospeech
google-auth
db-dtypes
pyyaml
#futures
# google-cloud-dataflow-client
# google-auth
# google-auth-httplib2
# google-api-python-client
# protobuf
# jsons
# time


